/*style.css*/

body{
	margin: 0px;
}

::-webkit-scrollbar:horizontal {
width: 1px;
height: 1px;
}
::-webkit-scrollbar-track:horizontal {m
width: 1px;
height: 1px;
}

ul{
margin: 0;
/*-webkit-margin-before: 1em; find this a home*/
-webkit-margin-after: 0em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
-webkit-padding-start: 0px;
}

h3{
margin: 1em 0;
}

h4{
margin: 0 0 1em 0;
}

.fRight{
	float:right;
}

.headArea, .settingsPanel {
width: 1200px;
margin: 0 auto;
background: #838383;
padding-top: 66px;
position: fixed;
left: 50%;
margin-left: -600px;
z-index: 1;
}

.settingsPanel{
padding-top: 0px;
top: 116px;
z-index: 2;
}

.headerMenu{
	position:relative;
	height: 50px;
}

.headerActions{
	display: inline-block;
	margin: 0px;
	-webkit-margin-before: 0em;
	-webkit-margin-after: 0em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 0px;
	/*border-bottom: 1px solid #8A8787;
	float:right;*/
}

ul.headerActions.multiSelect li, ul.headerActions.inactiveSite li {
opacity: .5;
}

ul.headerActions  li{
	display: inline;
	float: left;
	background: grey;
	width:50px;
	height:50px;
	background-repeat: no-repeat;
	background-size: 60%;
	background-position: 50%;
	border-right: 1px solid #8A8787;
	margin:0px;
}

ul.headerActions  li:active{
	background-color: dimgray;
}

ul.headerActions.singleSelect  li:hover{
	background-size: 65%;
	/*transition: background-size .1s linear;*/
}

ul.headerActions  li a{
	display:block;
	width:50px;
	height:50px;
	text-indent: -999em;
}


ul.headerActions  li.search, ul.headerActions  li.pDMessage{
	width: auto;
}

ul.headerActions.pDMessage{
	width: 300px;
	text-align: center;
	text-overflow: ellipsis;

}

ul.headerActions  li.pDMessage{
	background: none;
	line-height: 50px;
	width: 100%;
	color: white;
}

ul.headerActions  li.pDMessage{
	opacity: 0;
	transition: opacity .5s linear;
	border-right: none;
}

.headerMenu:hover ul.headerActions  li.pDMessage{
	opacity: 1;
	transition: opacity .5s linear;
}

ul.headerActions  li.search input{
	/*border-radius: 10px;*/
	border: 1px solid grey;
	line-height: 22px;
	margin: 12px 14px;
	padding-left: 30px;
	background: white url(../images/search.png) 6% 50% no-repeat;
	background-size: 7%;
}

ul.headerActions  li.settings{
	background-image: url(../images/settings.png);
}

ul.headerActions  li.tools{
	background-image: url(../images/tools.png);
}

ul.headerActions  li.analytics{
	background-image: url(../images/analytics.png);
}

ul.headerActions  li.custom{
	background-image: url(../images/custom.png);
}

ul.headerActions  li.redirection{
	background-image: url(../images/redirection.png);
}

ul.headerActions  li.promote{
	background-image: url(../images/promote.png);
}

ul.headerActions  li.purchase{
	background-image: url(../images/purchase.png);
}

ul.headerActions  li.create{
	background-image: url(../images/create.png);
}

ul.headerActions  li.ppT{
	background-image: url(../images/ppT.png);
}

ul.headerActions  li.cancelSub{
	background-image: url(../images/cancel.png);
}

ul.headerActions  li.change{
	background-image: url(../images/owner.png);
}

ul.headerActions  li.purchase.enabled:hover{
	background-size: 65%;
}

ul.headerActions  li.create.enabled:hover{
	background-size: 65%;
}

ul.headerActions  li.delete{
	background-image: url(../images/delete.png);
	background-size: 50%;
}

ul.headerActions  li.delete.enabled:hover{
	background-size: 55%;
}

.topPanel{
background: #f1f1f1;
border: 1px solid lightgrey;
padding: 0 2% 2%;
}

.topPanel ul{
webkit-margin-before: 1em;
}

.col50{
width: 48%;
display: inline-block;
vertical-align: top;
}

.redirection textarea{
width: 100%;
max-width: 100%;
height: 160px;
}

.mySettings ul{
	list-style-type: none;
}

a.configPpt{
border: 1px solid lightgrey;
padding: 10px;
display: block;
margin: 0 50px 10px 0;
}

a.configPpt:hover {
outline: 1px solid lightgrey;
}

.disabled{
	opacity: .1;
}

.logoCell{
	text-align: center;
	margin-top:15px;
}

.gridStyle {
    border: 1px solid rgb(212,212,212);
	margin: 0 auto;
	width: 1200px;
	padding-top: 116px;
}

.globalMessage {
border-radius: 0px;
border: none;
padding: 0px;
margin: 0px;
transition: all .5s linear;
}

.globalMessage.successful, .globalMessage.error {
padding: 10px;
}

.globalMessage.successful {
background: #4678AD;
}

.globalMessage.hidden {
display: none;
}

.confirmBox {
position: fixed;
z-index: 3;
background: white;
left: 50%;
width: 340px;
margin-left: -200px;
text-align: center;
border: 1px solid lightgrey;
}

.confirmBoxInner {
	padding: 0 20px 20px 20px;
}

.fullWidth{
	width: 100%;
	left: 0%;
	margin-left: 0px;
}

.ngCellText{
	line-height: 36px;
}

.ng-cell-has-focus input {
background: red;
}

.ngTopPanel {
/*z-index: 0;*/
}

.ngHeaderCell, .confirmBoxInner{
	background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.07) 98%, rgba(71,71,71,0.22) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(98%,rgba(0,0,0,0.07)), color-stop(100%,rgba(71,71,71,0.22))); 
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.07) 98%,rgba(71,71,71,0.22) 100%); 
	background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.07) 98%,rgba(71,71,71,0.22) 100%); 
	background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.07) 98%,rgba(71,71,71,0.22) 100%); 
	background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.07) 98%,rgba(71,71,71,0.22) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#38474747',GradientType=0 ); 
}

.ngGroupPanel {
background: none;
border-bottom: none;
display: none;
transition: all 1s linear;
color: white;
height: 32px;
top: -42px;
position: absolute;
width: 330px !important;
left: 250px;
text-align: center;
/* z-index: 10000000000159; */
}

.expired{
opacity: .5;
}

.ngGroupPanel .ngGroupName{
color: darkgrey;
font-weight: 400;
}

.ngGroupPanel.visible{
display: block;
transition: all 1s linear;
}

.ngGroupPanelDescription {
margin: 4px 3px;
padding: 2px;
font-size: 14px;
border: 2px dashed lightgrey;
}

.fadeToggle {
    -webkit-transition:opacity linear 0.5s;
    transition:opacity linear 0.5s;
  }

.fadeToggle.ng-hide {
	opacity:0;
}